.tag {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4rem;
}

/* Variants */
.tag.positive {
  background: var(--color-primary);
  color: var(--color-white);
}

.tag.warning {
  background: var(--color-insight);
  color: var(--color-black);
}

.tag.negative {
  background: var(--color-emotional);
  color: var(--color-black);
}

.tag.neutral {
  background: var(--color-neutral);
  color: var(--color-white);
}

.result-tag-wrapper {
  margin-bottom: calc(var(--space-md) + 4px);
}


.result-tag-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: var(--space-md);
}

.result-message {
  text-align: center;
  line-height: 1.5;
  max-width: 90%;
  margin: 0 auto;
}


