<fieldset class="ui-rcg" role="radiogroup" [attr.aria-label]="legend">
  <legend class="ui-rcg__legend">
    {{ legend }}
  </legend>

  <div class="ui-rcg__helpers" *ngIf="options?.length === 2">
    <span class="ui-rcg__helper ui-rcg__helper--left">
      {{ options[0]?.helperLeft || 'BESOIN ?' }}
    </span>
    <span class="ui-rcg__helper ui-rcg__helper--right">
      {{ options[1]?.helperRight || 'ENVIE ?' }}
    </span>
  </div>

  <div class="ui-rcg__grid">
    <ng-container *ngFor="let opt of options; trackBy: trackByValue">
      <label
        class="ui-rcg__card"
        [class.is-selected]="value === opt.value"
        [class.is-disabled]="opt.disabled"
        [class.tone-positive]="(opt.tone || 'neutral') === 'positive'"
        [class.tone-danger]="(opt.tone || 'neutral') === 'danger'"
      >
        <input
          class="ui-rcg__input"
          type="radio"
          [name]="name"
          [value]="opt.value"
          [checked]="value === opt.value"
          [disabled]="opt.disabled"
          (change)="onSelect(opt.value)"
        />

        <span class="ui-rcg__label">
          {{ opt.label }}
        </span>
      </label>
    </ng-container>
  </div>
</fieldset>
